.burger-menu {
    width: 35px;
}

.burger-menu:hover {
    cursor: pointer;
}

.burger-menu-line {
    width: 100%;
    height: 3px;

    background: $main-text-color;

    margin: 15% 0;
    transition: all .3s ease-in-out;
    transform-origin: right
}

.burger-menu-line_2 {
    width: 60%;
    height: 3px;

    background: $main-text-color;

    margin: 15% 0;
    transition: all .2s ease-in-out;
    transform-origin: right
}

.hover {
    width: 100%;
    transition: all .2s ease-in-out;
}

.click-2 {
    width: 0;
    animation: line2 .5s ease-in-out;
    transition: all .3s ease-in-out;
}

.cross-right {
    transform-origin: right;
    transform: rotate(28deg);
    transition: all .3s ease-in-out;
    transition-delay: .5s;

    animation: cross-right 1s ease-in-out;
}

.cross-left {
    transform-origin: right;
    transform: rotate(-27deg);
    transition: all .3s ease-in-out;
    transition-delay: .5s;

    animation: cross-left 1s ease-in-out;
}

@keyframes line2 {
    0% {
        width: 100%
    }

    30% {
        width: 120%;
    }

    100% {
        width: 0;
    }
}

@keyframes cross-left {
    0% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(10px);
        transform-origin: right;
    }

    100% {
        transform: rotate(-32deg);
    }
}

@keyframes cross-right {
    0% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(-10px);
        transform-origin: right;
    }

    100% {
        transform: rotate(35deg);
    }
}