.weather__graph {
    width: 90%;

    margin: 0 auto;
}

.progress-container {
    width: 95%;
    height: 8px;
    background: $main-text-color;

    margin: 0 auto 15px auto;
}

.progressBar {
    height: 8px;
    background: rgb(41, 108, 233);
    width: 0%;
}

.dateList {
    display: flex;
    justify-content: space-between;

    width: 95%;

    margin: 0 auto 15px auto;

    .dateList__item {
        width: 25px;
        text-align: center;
    }
}

.daysList {
    display: flex;
    justify-content: space-between;

    width: 95%;

    margin: 0 auto 15px auto;
}



.weatherIconsList {
    display: flex;
    width: 95%;
    justify-content: space-between;

    margin: 0 auto;

    .weatherIcon__item {

        width: 6%;

        .weatherIcon__img {
            width: 100%;
            margin-bottom: 5px;
        }
    }

}

.forecastDegrees {
    width: 40px;
}